.idea
.DS_Store
.travis.yml
.coveralls.yml
.commitlintrc.js
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.versionrc.js
api-extractor.json
jest_html_reporters.html
jest.config.js
rollup.config.js
tsconfig.json
node_modules
npm-debug.log
coverage
src
temp
test
demo
logs
scripts
docs
jest_html_reporters.html
jest-html-reporters-attach
